<!DOCTYPE html>
<html>
{% load static %}
<title>Welcome! | Ivan Taftazani's</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.main {
	display: flex;
	flex-wrap: wrap;
	background-image: url("{% static "bnw-balairung2.jpg" %}");
	min-height: 100%;
	background-position: fixed;
	background-size: cover;
	color: white;
}
	
.main-side {
	flex: 30%;
	padding: 100px 20px;
	<!-- background-color: #f1f1f1; -->
	}
	
.details-side {
	flex: 70%;
	padding: 40px 70px;
	color:black;
	background-color: rgba(150,150,150,0.7);
	}

.socmed {
  position: fixed;
  background-color: rgba(200,200,200,1);
  bottom: 0;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}

.socmed a {
  color: white;
  padding: 14px 20px;
}

.socmed a:hover {
  background-color: rgb(255,255,255);
}

</style>
<body>

<div class="main">
	<!-- 
	<div class="w3-display-topleft w3-padding-large w3-xlarge">
		Logo
	</div> 
	-->
	<div class="main-side">
		<center><img src="{% static "portraitsmaller.png" %}" alt="main portrait">
		<hr style="width:400px">
		<h1 style="font-size:48px">ivan taftazani</h1>
		<h6 class>of<h6>
		<h3 style="font-size:20px">University of Indonesia<h3>
		<hr style="width:400px">
		<h3 style="font-size:20px">1  8  0  6  2  4  1  1  2  2<h3>
		</center>
	</div>
	
	<div class="details-side">
		<h1 style="font-size:48px"><b>"Play hard, work hard"</b></h1>
		<br/>
		<p style="font-size:24px;margin:0 0 10%"> The words I live by. Though much more biased towards the former rather than the latter, the fact
			stays that mantaining the balance between the two has been the principle I'm holding on for the most of the 2 decades I've been living.
		</p>
		<img style="max-height:60px;float:left;padding:10px" src="{% static "ui-logo.png" %}" alt="ui small logo">
		<h3 style="padding:10px;font-family:Impact"> Faculty of Computer Science (2018)	</h3>
		<img style="max-height:70px;float:left;padding:10px" src="{% static "yellowheart.png" %}" alt="ui small logo">
		<h3 style="padding:10px;font-family:Impact"> Video games, Golf</h3>
	</div>
	
	<div class="socmed">
		<center>
		<a href="https://www.instagram.com/ivantft/"><img style="max-height:50px;padding:10px" src="{% static "ig-logo.png" %}" alt="main portrait"></a>
		<a href="https://twitter.com/IvanTFT"><img style="max-height:50px;padding:10px" src="{% static "twitter-logo.png" %}" alt="main portrait"></a>
		<a href="http://line.me/ti/p/~vntft"><img style="max-height:50px;padding:10px" src="{% static "line-logo.png" %}" alt="main portrait"></a>
		<a href="https://www.facebook.com/ipuntft"><img style="max-height:50px;padding:10px" src="{% static "facebook-logo.png" %}" alt="main portrait"></a>
		</center>
	</div>
	<!-- 
	<div class="w3-display-bottomleft w3-padding-large">
		<small>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></small>
	</div>
	-->
</div>

</body>
</html>
